<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd           
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd           
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
	default-autowire="byName">
	
	<context:annotation-config />
	
<!-- 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
	
	<bean id="demoAction" class="tw.org.iiiedu.demo.web.DemoAction" scope="prototype"/>
	<bean id="ajaxDemoAction" class="tw.org.iiiedu.demo.web.AjaxDemoAction" scope="prototype"/>
	<bean id="loginAction" class="tw.org.iiiedu.thegivers.web.LoginAction"></bean>
	<bean id="logoutAction" class="tw.org.iiiedu.thegivers.web.LogoutAction" scope="singleton"></bean>
	<bean id="campaignAction" class="tw.org.iiiedu.thegivers.web.CampaignAction" scope="prototype"></bean>
	<bean id="giverAction" class="tw.org.iiiedu.thegivers.web.GiverAction" scope="prototype"/>
	<bean id="giverHistoryAction" class="tw.org.iiiedu.thegivers.web.GiverHistoryAction" scope="prototype"/>
	<bean id="raiserAction" class="tw.org.iiiedu.thegivers.web.RaiserAction" scope="prototype"/>
	<bean id="transactionAction" class="tw.org.iiiedu.thegivers.web.TransactionAction" scope="prototype"/>
	<bean id="campaignCommentAction" class="tw.org.iiiedu.thegivers.web.CampaignCommentAction" scope="prototype"></bean>
	<bean id="campaignTypeAction" class="tw.org.iiiedu.thegivers.web.CampaignTypeAction" scope="prototype"></bean>
	<bean id="cityAction" class="tw.org.iiiedu.thegivers.web.CityAction" scope="prototype"></bean>
	
	<!-- 此頁提供 xxxxAction的程式碼位置-->
	<!-- 以下以demoAction為例:
			<bean id ="demoAction" ....>的值對應到 struts.xml裡的  
			<action name="demo" class="demoAction" method="execute"> --> 
	
</beans>