<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="url" value="jdbc:postgresql://localhost:5432/giversDB" />
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="username" value="postgres" />
		<property name="password" value="postgres" />
		<property name="removeAbandoned" value="true" />
		<property name="initialSize" value="20" />
		<property name="maxActive" value="30" />
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
<!-- 如果要用 給Spring控管Transaction 絕對不要加此行
<prop key="hibernate.current_session_context_class">thread</prop> 
When using spring and spring managed transactions never mess around with the hibernate.current_session_context_class property UNLESS you are using JTA.
Spring will by default set its own CurrentSessionContext implementation (the SpringSessionContext), however if you set it yourself this will not be the case. Basically breaking proper transaction integration.
The only reason for chancing this setting is if you want to use JTA managed transactions, then you have to setup this to properly integrate with JTA.				

-->

<!-- 				<prop key="hibernate.show_sql">true</prop> -->
<!-- 				<prop key="format_sql">true</prop> -->
				<prop key="hibernate.connection.autocommit">false</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>AdminModel.hbm.xml</value>
				<value>GiverModel.hbm.xml</value>
				<value>RaiserModel.hbm.xml</value>
				<value>CampaignModel.hbm.xml</value>
				<value>RaiserHistoryModel.hbm.xml</value>
				<value>GiverHistoryModel.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
<!-- 		<property name="dataSource" ref="dataSource"/> -->
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>


</beans>        