body {
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.btn-warning{
	  background-color: orangered;
  border-color: orangered;
	
}

.background-image {
	left: 0;
	right: 0;
	z-index: -10;
	background-image: url('../pictures/bulb.jpeg');
	background-size: cover;
	position: absolute;
	/* background-repeat: no-repeat; */
	/*   display: table; */
	width: 100%;
	height: 100%;
	opacity: 0.7;
	/*   -webkit-filter: blur(3px); */
	/*   -moz-filter: blur(3px); */ /*   -o-filter: blur(3px); */
	/*   -ms-filter: blur(3px); */ /*   filter: blur(3px); */
}

.media-image{
	width:146px;
	height: 146px;
}

.header-pic {
	margin: 0;
	padding: 0;
	width: 25px;
	height: 25px
}

.header {
	background-color: white;
	top: 0;
	width: 100%;
}

.vis-hidden {
	visibility: hidden;
}

.margin-bottom0 {
	margin-bottom: 0px;
}

.header-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	text-align: center;
}

.header-nav>li { /* 	display: inline-block; */
	font-weight: bold;
	font-size: 19px;
}

.header-nav>li>a { /* 	padding-right: 0; */
	/* 	padding-left: 0; */
	font-weight: bold;
	font-size: 19px;
	color: orangered;
	/* 	color: rgba(255, 255, 255, .75); */
	border-bottom: orangered 2px solid transparent;
}

/* .header-nav a:hover, header-nav a:focus { */
/* 	background-color: transparent; */
/* 	border-bottom-color: #a9a9a9; */
/* 	border-bottom-color: rgba(255, 255, 255, .25); */
/* } */
/* header-nav li:hover { */
/* 	background-color: none; */
/* } */

/* .header-nav>.active>a, header-nav>.active>a:hover, header-nav>.active>a:focus */
/* 	{ */
/* 	color: #fff; */
/* 	border-bottom-color: #fff; */
/* } */
@media {
	.headerFixed {
		z-index: 9999;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		background-color: rgba(0,0,0,0.7);
		display: none;
	}
	.header {
		width: 100%;
	}
	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
		#collapse1{
			position: fixed;
			width:100%;
			opacity: 1;
	}
		#collapseExample {
		position: fixed;
		width: 100%;
	}
	#collapseExample div{margin:0px;
}
}

@media ( min-width : 768px) {
	.header {
		width: 100%;
	}
	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0:
	}
}

@media ( min-width : 992px) {
	.header {
		width: 1200px;
	}
	.container {
		width: 970;
		padding-left: 0;
		padding-right: 0:
	}
	.left-side {
    float: none;
    display: table-cell;

}

.right-side {
    float: none;
    display: table-cell;
}
}

@media ( min-width : 1200px) {
	.container {
		width: 1170px;
	}
	#collapseExample   {
		position: fixed;
		width: 1200px;
		z-index: 99;

	}
	
.left-side {
    float: none;
    display: table-cell;

}

.right-side {
    float: none;
    display: table-cell;
}
}