a:hover{
	cursor: pointer;
}

.vertical-space{
	height:50px;
}

.outer-wrapper {
	width:100%;
	top:0;
	height:800px;
display: table;
	vertical-align: middle;
}

.outer-wrapper2 {
	position:absolute;
	width:100%;
	top:0;
	height:20%;
display: table;
	vertical-align: middle;
}

.inner-wrapper {

		display: table-cell;
	vertical-align: middle;
	
}

.wrapped-container {
	margin-right: auto;
	margin-left: auto;
}

.margin-auto {
	margin-right: auto;
	margin-left: auto;
}

@media {
	/* Handle the widths */
	.wrapped-container {
		width: 100%;
	}
}

@media ( min-width : 768px) {
	/* Handle the widths */
	.wrapped-container {
		width: 100%;
	}
}

@media ( min-width : 992px) {
	.wrapped-container {
		width: 1200px;
	}
}